:root {
  --body-background-color: #141414;
  --main-cards-background-color: #00000040;
  --main-more-background-color: #00000080;
  --main-links-hover-background-color: rgb(0 0 0 / 40%);
  --main-footer-background-color: rgb(0 0 0 / 25%);
  --main-open-music-background-color: #00000026;
  --main-download-background-color: #00000030;
  --main-download-hover-background-color: #00000060;
  --main-loading-background-color: #333333;
  --main-scrollbar-background-color: #2B2B2C;
}

[theme="light"] {
  --body-background-color: #CFD3DC;
  --main-cards-background-color: #ffffff40;
  --main-more-background-color: #00000020;
  --main-links-hover-background-color: rgb(255 255 255 / 40%);
  --main-footer-background-color: rgb(255 255 255 / 15%);
  --main-open-music-background-color: #ffffff26;
  --main-download-background-color: #ffffff30;
  --main-download-hover-background-color: #ffffff60;
  --main-loading-background-color: #666666;
  --main-scrollbar-background-color: #636466;
}

[theme="light"] #universeCanvas,
[theme="dark"] #snowfallCanvas {
  display: none;
}

[theme="dark"] #universeCanvas,
[theme="light"] #snowfallCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
